---
---
{% include base.html %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <title>Registered Participants</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- from https://github.com/typeiii/jquery-csv-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
</head>
<body id="index">
  {% include navbar.html %}
<script>
(function(){
  // see https://stackoverflow.com/questions/62611127/trouble-accessing-google-sheet-as-a-tsv-file
  var url="https://script.google.com/macros/s/AKfycbzaO60lL2WDcgor8HZ_vnwc1AbDs0ezXt4Xg-tEaPHcUVBS2zqTjUDnUDYNwzq_kfWD/exec";
  var participantsFile = new XMLHttpRequest();
  participantsFile.onreadystatechange = function() {
    if (participantsFile.readyState == 4 && participantsFile.status == 200) {
      // helper function to turn any string into save to include escaped string
      function stripHTML(s) {
        var text = document.createTextNode(s);
        var p = document.createElement('p');
        p.appendChild(text);
        return p.innerHTML;
      };

      lines = $.csv.toArrays(participantsFile.responseText);
      // sort by name and then Institution
      lines = lines.sort(function(a,b){return (a[0]+a[1]).localeCompare((b[0]+b[1]))});
      
      // TODO: could use createelelemt etc
      text ='<ul>\n';
      // loops over all rows except the top "header" row, stops at first empty row
      for(var i=1; i<lines.length; i++) {
        fields = lines[i]; //.split('\t');
        //if (fields[0] == "") break;
        if(fields[2].trim() == "TRUE") {
            text += "<li>" + stripHTML(fields[0] + " (" + fields[1] + ")") + "</li>\n";
        }
        // text += '<tr><td>' + stripHTML(fields[0]) + '</td>' +
        //             '<td>' + stripHTML(fields[1]) + '</td>' +
        //             '<td>' + stripHTML(fields[2]).replaceAll('\n','<br/>') + '</td>' +
        //             '<td>' + (fields[4].trim() == "TRUE" ? "yes" : fields[4].trim() == "FALSE" ? "no" : "") + '</td></tr>\n';
      }
      text += '</ul>'
      
      sidebar=document.getElementById('participants');
      sidebar.innerHTML=text;
    }
  };
  participantsFile.open("GET", url, true);
  participantsFile.send(null);
})();
</script>
  <div class="container">
    <div class="row fix">
      <div class="col-xs-12">
        <h1>Participants</h1>
        <div id="participants"></div>
        <a class="btn btn-info" href="{{base}}/register.html" role="button">Register</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% include footer.html %}
      </div>
    </div>
  </div>
{% include postbody.html %}
</body>
</html>
