{%-assign _dst_midbreakstart = page.midbreakstart | date: "%s" | plus: 0-%}
{%-assign _dst_midbreakduration = page.midbreakduration | times: 60-%}
{%-assign _dst_midbreakend = _dst_midbreakstart | plus: _dst_midbreakduration-%}
{%-assign _dst_start = page.start | date: "%s" | plus: 0-%}

<table class="day-schedule">
<tr><th> start </th><th> end </th> <th> </th>
</tr>
{%-for _dst_tag in include.day-%}

{%-capture _dst_duration-%}
{%-include get tag=_dst_tag field="duration"-%}
{%-endcapture-%}
;{{_dst_tag}};
{%-assign _dst_duration = _dst_duration | times: 60-%}
{%-assign _dst_end = _dst_start | plus: _dst_duration-%}

{%-if (_dst_start < _dst_midbreakstart) and (_dst_end > _dst_midbreakstart)-%}

<tr><td>{{ _dst_start | date: "%I:%M %p" }}</td><td>{{ _dst_midbreakstart | date: "%I:%M %p" }}</td>
  <td><div markdown="1">{%-include schedule tag=_dst_tag %}
  </div></td>
</tr>
<tr><td>{{ _dst_midbreakstart | date: "%I:%M %p" }}</td><td>{{ _dst_midbreakend | date: "%I:%M %p" }}</td>
  <td>break</td>
</tr>
<tr><td>{{ _dst_midbreakend | date: "%I:%M %p" }}</td><td>{{ _dst_end | plus: _dst_midbreakduration | date: "%I:%M %p" }}</td>
  <td><div markdown="1">{%-include schedule tag=_dst_tag %} (cont'd)
  </div></td>
</tr>

{%-assign _dst_start = _dst_end | plus: _dst_midbreakduration-%}

{%-else-%}

<tr><td>{{ _dst_start | date: "%I:%M %p" }}</td><td>{{ _dst_end | date: "%I:%M %p" }}</td>
  <td><div markdown="1">{%-include schedule tag=_dst_tag %}
  </div></td>
</tr>

{%-assign _dst_start = _dst_end | plus: 300-%}

{%-if _dst_end == _dst_midbreakstart-%}

<tr><td> {{ _dst_midbreakstart | date: "%I:%M %p" }}</td><td>{{ _dst_midbreakend | date: "%I:%M %p" }}</td>
  <td>break</td>
</tr>

{%-assign _dst_start = _dst_midbreakend-%}
{%-endif-%}

{%-endif-%}

{%-endfor-%}
</table>

